html {
	background-color:  #1e1e1e;
}

body {
	font-family: monospace;
	text-align: center;
	color: black;
}

h2 {
	font-size: 3.0em;
}

p {
	font-size: 1.3em;
}

.ml-container {
	align-items: center;
	justify-content: center;
	margin: 0;
}

.topic {
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
}

.button {
	padding: 1px 6px;
}

.button {
	cursor: default;
	box-sizing: border-box;
}

.button {
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	margin: 0em;
	font: 200 7.5px Arial;
}

.button .predict-button {
	width: 120px;
	height: 25px;
	
	background-color: #7052CB;
	margin-top: 5px;
	color: #ffffff;
	font-size: 15px;
}

.text {
	height: 40px;
	width: 400px;
	border-radius: 8px;
	border-style: solid;
	border-width: 3px;
	color: #7052CB;
	font: 600 12px Arial;
}

.inner {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	margin-top: 5%;
	color: black;
	text-align: center;
}

.button__back {
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	margin-top: 3%;
	font: 200 7.5px Arial;
	height: 35px;
	width: 120px;
	border-radius: 8px;
}

.button__back {
	color: #ffffff;
	background-color: black;
	font-size: 20px;
	padding-top: 0.2em;
	padding-bottom: 1em;
}

.prediction-section p {	
	font-size: 5.5em;
	font-weight: 900;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 500px) {
	.prediction-section p {
		font-size: 4.5em;
	}
	.inner p {
		font-size: 1.1em;
	}
	.inner h2 {
		font-size: 2.3em;
	}
	.text {
		width: 90%;
	}
}