<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <div class="info">
  <h1 class="info__title">PICK WHAT YOU NEED</h1>
  <p class="info__description" style="font-weight: bold;">We did our best to meet your expectations.  Remember that in any moment you can switch your feature.</p>  
</div>
<div class="container">
  <div class="box box--featured box_2"> 
    <div class="butt">
      <h2 class="box__title">SENTIMENT ANALYSIS</h2>
      <p class="box__description" style="color: white;">Check opinions about Your company!</p>
      <button class="box__button" onclick="window.location.href='/Sentiment'">CHOOSE</button>
    </div>
  </div>
  <div class="box box--featured box_2">
      <div class="butt">
        <h2 class="box__title">TEXT GENERATION</h2>
        <p class="box__description" style="color: white;">Generate text!</p>
        <button class="box__button button_3" onclick="window.location.href='/Generation'">CHOOSE</button>
      </div>
  </div>
</div>
</body>
