<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sentiment</title>
  <link rel="stylesheet" href="../static/css/sentiment.css">
</head>
<body style="background-color: #1e1e1e">
	<div class="inner" style="background-color: #1e1e1e">
		<header>
			<div>
				<h2 style="color: #FFDF00; font-weight: 900;">Predict if sentence is negative, neutral or positive.</h2>
				<p style="font-weight: 600; color: #FFFFFF"><br>
				Write down your sentence i.e "I am happy :)" and findout whenever the sentence is <span style="color: #3333ff">Neutral</span>, <span style="color:green"> Positive</span> or <span style="color:red">Negative.</span></p>
			</div>
	    </header>
	</div>
	<div class="ml-container" style="background-color: #1e1e1e	">
		<form action="{{  url_for('sentiment') }}" method='POST'>
			<p class='topic' style="color: #FFFFFF">Enter Sentence:</p><input class="text" name="text" placeholder="  Enter sentence.."><br>
			<div class="button">
				<input class="predict-button" type="submit" value="Predict">
			</div>
		</form>
		<div>
			<form action="{{ url_for('index') }}" method='POST'>
				<input class="button__back" type="submit" value="back">
			</form>
		</div>
        <div class="prediction-section">
			{% if prediction == 0 %}
				<p style="color:red">NEGATIVE</p>
			{% elif prediction == 1 %}
				<p style="color:gray">NEUTRAL</p>
			{% elif prediction == 2 %}
				<p style="color:green">POSITIVE</p>
			{% else %}
				<p></p>
			{% endif %}
		</div>
	</div>
</body>
</html>
