<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Text Generation</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="ml-container" style="background-color: #1e1e1e	">
        <div>
            <form action="{{  url_for('index')}}" method='POST'>
                    <input class="button__back" style="background-color: whitesmoke; color: black; font-weight: bold;" type="submit" value="BACK">
            </form>
        </div>
        <div style="padding: 20px;">
            <h1></h1>
            <form style="color: white;" action="/save_options" enctype="application/json" method="POST">
                <h1 style="color: orange;">CHOOSE WEIGHTS FOR YOUR MODEL</h1>
                <select class="select-css" name="weightOption">
                        <option style="font-weight: bold;" value="english_128_300LSTM">BASIC WEIGHTS</option>
                        <option style="font-weight: bold;" value="english_128_300LSTM">ENGLISH WEIGHTS</option>
                        <option style="font-weight: bold;" value="twitter_weights">TWITTER WEIGHTS</option>
                        <option style="font-weight: bold;" value="shakespeare_weights">SHAKESPEARE WEIGHTS</option>
                </select>
                <br/><br/><br/><br/>
                
                <div style="text-align: center;">
                    <div class="outer">
                        <h1 style="color: orange; display: inline-block; text-align: left;">1. CHOOSE CONFIGURATION <br/> 2. SAVE OPTIONS <br/> 3. GENERATE!</h1> 
                    </div>
                </div>
                <br/><br/>
                <div class="outer">
                    <p>MAX LENGTH:</p> 
                </div>
                <div class="outer">
                    <input type="text" name="max_length" style="font-size: 1.3em; width: 20em;" placeholder="1000">
                </div>
                
                <div class="outer">
                    <p>TEMPERATURES:</p> 
                </div>
                <div class="outer">
                    <input type="text" name="temperatures" style="font-size: 1.3em; width: 20em;" placeholder="0.2, 0.4, 0.8, 1">
                </div>

                <div class="outer">
                    <p>NUMBER OF SAMPLES PER TEMPERATURE:</p> 
                </div>
                <div class="outer">
                    <input type="text" name="samples" style="font-size: 1.3em; width: 20em;" placeholder="1">
                </div>

                <div class="outer">
                    <p>PREFIX:</p> 
                </div>
                <div class="outer">
                    <input type="text" name="prefix" style="font-size: 1.3em; width: 20em;" placeholder="Enter prefix">
                </div>
                    
                <br><br>
                <button class='button_predict' style="width: 20%; height: 4em;" type="submit">Save Options</button>
            </form>
            <br/>
            <form action='/read' method='POST' enctype="application/json" name="file_name">
                <div class="predictions">
                    <button class='button_predict' style="width: 20%; height: 4em;" type="submit">Generate!</button>
                </div>
                <div style="padding: 2%">
                    <p id='errorMsg' style='padding: 1%; color: red;'>{{error}}</p></p>
                </div>
            </form>
        </div>
    </div>
    <script>
        var input = document.getElementById( 'file-upload' );
        var infoArea = document.getElementById( 'file-upload-filename' );
        input.addEventListener( 'change', showFileName );
        function showFileName( event ) {
            // the change event gives us the input it occurred in 
            var input = event.srcElement;
            // the input has an array of files in the `files` property, each one has a name that you can use. 
            // We're just using the name here.
            var fileName = input.files[0].name;
            // use fileName however fits your app best, i.e. add it into a div
            infoArea.textContent = fileName;
        }                
        function showLoader(){
            var loader = document.getElementById('loader');
            loader.style.visibility = 'visible';
            window.location = 'http://localhost:5004/Generation';            
        }
        
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>
</body>
</html>
