<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Text Generated</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body style="background-color: black;">    
        <p class="center" style="padding-top: 10%; color: white;">
            {% for temp in temps %} 
                <p style="color: orange">TEMPERATURE: {{temp}}</p> <br/><br/>
                {% for text in generated[loop.index0] %} 
                
                    <div class="outer">
                        <p style="display: inline-block; text-align: left; color: white;">{{loop.index}}. {{text}} <br/> </p>
                    </div>
                
                {% endfor %}
                <br/><br/>
            {% endfor %}
        </p>
    </body>
</html>%      